*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    
}

#calculator{
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    background-color: #15173c;
    box-shadow: 0 20px 50px rgba(0, 5,24,0.24);
    
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left:50%;
    
    
}

#display{
    margin: 10px;
    width: 85%;
    font-size: 25px;
    background-color:transparent ;
    border: none;
    color: #ffffff;
    text-align: right;
    
    
}
 

.button-container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
}

.button{
    width: 45px;
    height: 45px;
    margin: 3px;
   color: #ffffff;
   background-color: transparent;
    border: none;
 
}

button:hover{
    background-color: #f9544c;
}

