.loader{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 20px solid blue;
    border-top:20px solid orangered ;
    animation: myloader 3s ease-in 0s infinite normal;
}
@keyframes myloader{
 from{
    transform: rotate(0deg);
 }
 to{
    transform: rotate(360deg);
 }
}