#Box{
    background-color: blue;
    color: aliceblue;
}

.heading{
    color: red;
}

button{
   background-color:  rgb(0, 15, 128);
}

#Heading{
    text-align: center;

}

.p{
    font-family: 'Times New Roman', Times, serif;
}

#outer{
    font-size: 25px;
}


#inner{
    font-size: 10px;
}

#Box1{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    
}
#Box2{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
    
    
}
#Box3{
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50%;
   
    
}