html{
    min-height: 100%;
    overflow: hidden;
}

body{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(20, 20,20);

}

.container{
    display: inline-block;
    margin: 20%;
    
}

.text{
    font-weight: 700;
    border-right: 0.15 solid orange;
    white-space: nowrap;
    overflow: hidden;
    font-size: 3.6rem;
    animation: typing 4s steps(40,end) infinite;
}

@keyframes typing {
    from{
        width: 0;
    }

    to{
        width:100%;
    }
}