*{
    padding: 10px 50px;

}

.formdesign{
    font-size: 15px;
}

.formdesign input{
    width: 50%;
    padding: 12px 20px;
    border: 1px solid black;
    margin: 14px;
    border-radius: 4px;
    font-size: 15px;
}

.formerror{
    color: red;
}

.but{
    border-radius: 10px solid black;
    width: 150px;
    height: 50px;
    font-size: large;
    margin: 22px px;
}